:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.form-div {
    flex: 1 1 auto;
    overflow: auto;
}

.flex-box-example {
    border: 1px solid lightblue;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;

    .item-button-area {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
}


.button-area {
    padding-top: 10px;
    box-sizing: border-box;
    flex: 1 1 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
    align-content: flex-end;
}